.main-content {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 50px;
}

.main-content-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  h2 {
    font-size: 32px;
    line-height: 1.6;
    font-weight: 500;
  }

  &-subitem {
    //margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-basis: auto;

    span {
      font-size: 20px;
      line-height: 1.6;
      font-weight: 300;
    }
  }
}

.carousel-holder {
  display: flex;
  flex-direction: row;
  width: max-content;
  outline: none;
  flex-shrink: 0;
  gap: 20px;
}

.carousel-imaged {

  &-ul {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-shrink: 0;
    gap: 20px;
    transform: translateX(-100px);
    align-items: center;
    -webkit-box-align: center;
    height: 328px;
  }

  &-item {
    width: calc(80vw - 16px);
    max-width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: #1C2333 radial-gradient(100% 100% at 0% 0%, #212839 0%, #1C2333 100%);
    box-sizing: border-box;
    border: 1px solid #2B3245;
    box-shadow: 0 4px 8px 0 rgba(2, 2, 3, 0.16);
    transform-origin: bottom;
    transition: all 160ms ease-out;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0px 8px 16px 0px rgba(2, 2, 3, 0.32);
      border-color: #3C445C;

      .carousel-imaged-item-bottom-hidden {
        max-height: 116px;
        margin-top: 8px;
      }
    }

    @media screen and (min-width: 500px) {
      border-radius: 16px;
      padding: 16px;
      gap: 16px;
    }

    &-header {
      font-size: 20px;
      line-height: 16px;
      font-weight: 500;
      color: #fff;
    }


    &-image {
      position: relative;

      &-holder {

      }

      &-item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #2B3245;
        border-radius: 8px;
        aspect-ratio: 16 / 9;
      }
    }

    &-bottom {
      &-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &-avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        &-image {
          position: relative;
          &-item {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }

        &-name {
          font-weight: 500;
          font-size: 14px;
          line-height: 1.6;
        }
      }

      &-skill {
        background-color: #660000;
        padding: 4px 8px;
        color: #FFCFCF;
        border-radius: 16px;
      }

      &-hidden {
        max-height: 0;
        overflow: hidden;
        display: block;
        font-size: 12px;
        line-height: 1.6;
        color: #C2C8CC;
        transition: all 150ms ease-out;
        margin-top: 0;
      }
    }

  }

}

.carousel-comment {

  &-ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 24px;
  }

  &-list-item {
    background: #1C2333 radial-gradient(100% 100% at 0% 0%, #212839 0%, #1C2333 100%);
    border: 1px solid #2B3245;
    gap: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
    flex-basis: auto;
    box-shadow: 0px 4px 8px 0px rgba(2, 2, 3, 0.16);
    padding: 16px;
    border-radius: 16px;
    width: calc(80vw - 16px);
    max-width: 400px;

    &-text {
      font-size: 14px;
      line-height: 1.6;
    }

    &-author {
      color: #C2C8CC;
      font-size: 14px;
      line-height: 1.6;
    }
  }
}

.ul-holder {
  display: flex;
  flex-direction: column;
  gap: 80px;
  flex-shrink: 0;
  outline: none;
  flex-basis: auto;
  align-items: stretch;

  &-item {
    flex-shrink: 0;
    min-height: 0;
    min-width: 0;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    -webkit-box-align: stretch;
    align-items: stretch;
  }
}

html {
  --var-border-home-icon: linear-gradient(90deg,#4c72fa,#39d9f9);
  --var-border-videos-icon: linear-gradient(90deg,#dd2476,#ff512f);
  --var-border-doubts-icon: linear-gradient(90deg,#1fbfff,#9ce85e);
  --var-border-news-icon: linear-gradient(90deg,#4568dc,#b06ab3);
  --var-border-blaze-icon: linear-gradient(90deg,#ff5f6d,#ffc371);


  --home-radial: radial-gradient(ellipse at center,#4c72fa5d,#4c72fa2c);
  --videos-radial: radial-gradient(ellipse at center,#ff512f5d,#ff512f2c);
  --doubts-radial: radial-gradient(ellipse at center,#9ce85e5d,#9ce85e2c);
  --news-radial: radial-gradient(ellipse at center,#8619c55d,#8619c52c);
  --blaze-radial: radial-gradient(ellipse at center,#ffc3715d,#ffc3712c);
}

.title-text-landing-page {
  //background: var(--var-border-home-icon);
  background-clip: text;
  background-size: 200% auto;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-title {
  background-image: var(--var-border-home-icon);
}

.videos-title {
  background-image: var(--var-border-videos-icon);
}

.news-title {
  background-image: var(--var-border-news-icon);
}

.blaze-title {
  background-image: var(--var-border-blaze-icon);
}

.home-bg {
  background: var(--home-radial);
}

.video-bg {
  background: var(--videos-radial);
}

.news-bg {
  background: var(--news-radial);
}

.blaze-bg {
  background: var(--blaze-radial);
}

.description-para {
  //padding-top: 5px;
  //font-size: 1.25rem;

}

.landing-mobile-content-card {
  border-radius: 16px;

  @apply p-6 bg-gray-800 bg-opacity-20 hover:bg-opacity-50 hover:scale-105 transition-all;

  &.active {
    box-shadow: 2px 0 28px 2px rgba(137, 16, 16, 0.47), -1px 1px 8px 2px rgba(137, 16, 16, 0.55);

    @apply bg-opacity-50 scale-105;
  }
}

.nav__wrapper {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 78px;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  width: calc(100vw);
  /*max-width: 1544px;*/
  margin: 0 auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0;
  padding: 30px 50px 30px 40px;
}

.nav__wrapper .nav__logo .nav__logo__img {
  height: 100%;
  max-height: 72px;
  width: unset;
  cursor: pointer;
}
.nav__wrapper * {
  z-index: 4;
}
.nav__wrapper .nav__links a {
  padding-right: 25px;
  font-size: 0.9rem;
  color: white;
  transition: 0.2s ease;
  font-weight: 500;
  text-shadow: 0 0 10px rgba(49, 49, 49, 0.466);
  backdrop-filter: blur(10px);
}
.nav__wrapper .nav__links a:hover {
  color: #6b0d0d;
  transition: 0.2s ease all;
}
.nav__wrapper .nav__links .nav__link {
  text-decoration: none;
  color: white;
  margin: 0 0rem;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
}


.space-wars-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  canvas {
    background: #0e1525;
  }
}

.main-content {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 50px;

  @media screen and (max-width: 500px) {
    gap: 75px;
  }
}

.main-content-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  @media screen and (max-width: 500px) {
    zoom: .7;
  }

  h2 {
    font-size: 19px;
    line-height: 1.6;
    //font-weight: 500;
    color: white;
  }

  &-subitem {
    //margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-basis: auto;

    @media screen and (max-width: 500px) {
      display: none;
    }

    span {
      font-size: 28px;
      line-height: 1.6;
      //font-weight: 300;
      color: rgba(255, 255, 255, 0.45);
    }

    .highlight {
      color: white;
      font-weight: 500;
    }
  }
}

.carousel-holder {
  display: flex;
  flex-direction: row;
  width: max-content;
  outline: none;
  flex-shrink: 0;
  gap: 20px;
}

.carousel-imaged {

  &-ul {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-shrink: 0;
    gap: 20px;
    transform: translateX(-100px);
    align-items: center;
    -webkit-box-align: center;
    height: 328px;

    @media screen and (max-width: 500px) {
      gap: 20px;
      height: 200px;
    }
  }

  &-item {
    width: calc(80vw - 16px);
    max-width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: #1C2333 radial-gradient(100% 100% at 0% 0%, #212839 0%, #1C2333 100%);
    box-sizing: content-box;
    border: 1px solid #2B3245;
    box-shadow: 0 4px 8px 0 rgba(2, 2, 3, 0.16);
    transform-origin: bottom;
    border-radius: 16px;
    padding: 16px;
    gap: 16px;
    transition: all 160ms ease-out !important;

    @media screen and (max-width: 500px) {
      //zoom: 0.8;
      gap: 11px;
      width: 220px;
      //background: none;
      //border: none;
      //box-shadow: none;
      border-radius: 10px;
      padding: 10px;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0px 8px 16px 0px rgba(2, 2, 3, 0.32);
      border-color: #3C445C;

      .carousel-imaged-item-bottom-hidden {
        max-height: 116px;
        margin-top: 8px;
      }
    }

    //@media screen and (min-width: 500px) {
    //  border-radius: 16px;
    //  padding: 16px;
    //  gap: 16px;
    //}

    &-header {
      font-size: 20px;
      line-height: 26px;
      font-weight: 500;
      color: #fff;
      overflow: hidden;
      //overflow-y: visible;
      text-overflow: ellipsis;
      white-space: nowrap;

      @media screen and (max-width: 500px) {
        font-size: 13px;
        line-height: 16px;
      }

      .maths {
        background: linear-gradient(
                        to left,
                        #fb8b23 20%,
                        #ffdd00 40%,
                        #ffdd00 60%,
                        #fb8b23 80%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        animation: flowingText 6s linear both infinite;
        background-size: 200% auto;
      }
      .physics {
        background: linear-gradient(
                        to left,
                        #ed82c1 20%,
                        #f9c6d7 30%,
                        #f9c6d7 60%,
                        #ed82c1 80%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        animation: flowingText 6s linear both infinite;
        background-size: 200% auto;
      }
      .chemistry {
        background: linear-gradient(
                        to left,
                        #ff571f 5%,
                        #ff8a5c 40%,
                        #ff571f 60%,
                        #ff8a5c 60%,
                        #ff571f 95%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        animation: flowingText 6s linear both infinite;
        background-size: 200% auto;
      }
      .biology {
        background: linear-gradient(
                        to left,
                        #0ac2a6 20%,
                        #51f6f0 40%,
                        #51f6f0 60%,
                        #0ac2a6 80%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        animation: flowingText 8s linear both infinite;
        background-size: 200% auto;
      }
      .history {
        background: linear-gradient(
                        to left,
                        #999cff 20%,
                        #99c3ff 40%,
                        #99c3ff 60%,
                        #999cff 80%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        animation: flowingText 6s linear both infinite;
        background-size: 200% auto;
      }
      .civics {
        background: linear-gradient(
                        to left,
                        #85c445 20%,
                        #c3db9f 40%,
                        #c3db9f 60%,
                        #85c445 80%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        animation: flowingText 6s linear both infinite;
        background-size: 200% auto;
      }
      .geography {
        background: linear-gradient(
                        to left,
                        #ff7f5c 20%,
                        #ffc5ad 40%,
                        #ffc5ad 60%,
                        #ff7f5c 80%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        animation: flowingText 6s linear both infinite;
        background-size: 200% auto;
      }
      .economics {
        background: linear-gradient(
                        to left,
                        #efbd81 20%,
                        #f6e8a2 40%,
                        #f6e8a2 60%,
                        #efbd81 80%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        animation: flowingText 6s linear both infinite;
        background-size: 200% auto;
      }
      .literature {
        background: linear-gradient(
                        to left,
                        #ff4b33 20%,
                        #f78978 40%,
                        #f78978 60%,
                        #ff4b33 80%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        animation: flowingText 6s linear both infinite;
        background-size: 200% auto;
      }
      .writing {
        background: linear-gradient(
                        to left,
                        #00b899 20%,
                        #58e0bb 40%,
                        #58e0bb 60%,
                        #00b899 80%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        animation: flowingText 6s linear both infinite;
        background-size: 200% auto;
      }
      .grammar {
        background: linear-gradient(
                        to left,
                        #de85ff 20%,
                        #f3c2ff 40%,
                        #f3c2ff 60%,
                        #de85ff 80%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        animation: flowingText 6s linear both infinite;
        background-size: 200% auto;
      }
      .reading {
        background: linear-gradient(to left, #e9275b 80%, #f07f8c);
        background: linear-gradient(
                        to left,
                        #e9275b 20%,
                        #f07f8c 40%,
                        #f07f8c 60%,
                        #e9275b 80%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        animation: flowingText 6s linear both infinite;
        background-size: 200% auto;
      }
    }


    &-image {
      position: relative;

      &-holder {

        img {
          @media screen and (max-width: 500px) {
            height: 118px;
            width: 100%;
          }
        }
      }

      &-item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #2B3245;
        border-radius: 8px;
        //aspect-ratio: 16 / 9;
        object-fit: contain;
      }
    }

    &-bottom {
      &-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &-avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        &-image {
          position: relative;
          flex-shrink: 0;

          &-holder {

            img {
              @media screen and (max-width: 500px) {
                width: 20px;
                height: 20px;
              }
            }
          }

          &-item {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 75%;
            height: 75%;
            z-index: 2;
            transform: translate(-50%, -50%);
          }

          &-bg {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;

            &.maths {
              background: linear-gradient(to top, #fb8b23, #ffdd00);
            }
            &.physics {
              background: linear-gradient(to top, #ed82c1, #f9c6d7);
            }
            &.chemistry {
              background: linear-gradient(to top, #ff571f, #ff8a5c);
            }
            &.biology {
              background: linear-gradient(to top, #0ac2a6, #51f6f0);
            }
            &.history {
              background: linear-gradient(to top, #999cff, #99c3ff);
            }
            &.civics {
              background: linear-gradient(to top, #85c445, #c3db9f);
            }
            &.geography {
              background: linear-gradient(to top, #ff7f5c, #ffc5ad);
            }
            &.economics {
              background: linear-gradient(to top, #efbd81, #f6e8a2);
            }
            &.literature {
              background: linear-gradient(to top, #ff4b33, #f78978);
              .sub-icon {
                transform: scaleX(-1) translate(50%, -50%);
              }
            }
            &.writing {
              background: linear-gradient(to top, #00b899, #58e0bb);
            }
            &.grammar {
              background: linear-gradient(to top, #de85ff, #f3c2ff);
            }
            &.reading {
              background: linear-gradient(to top, #e9275b, #f07f8c);
            }
          }
        }


        &-name {
          font-weight: 500;
          font-size: 14px;
          line-height: 1.6;
          color: white;

          @media screen and (max-width: 500px) {
            font-size: 11px;
          }
        }
      }

      &-skill {
        //background-color: #660000;
        padding: 4px 8px;
        //color: #FFCFCF;
        border-radius: 10px;
        font-size: 11px;

        background: linear-gradient(to bottom, #ea0304, #a10e0e);
        color: white;
        font-weight: 600;
        //padding: 0.8rem 2rem;
        filter: brightness(0.95) saturate(1);
        transition: all ease 0.2s;
        box-shadow: 0 0 24px #a10e0e;

        @media screen and (max-width: 500px) {
          display: none;
        }
      }

      &-hidden {
        max-height: 0;
        overflow: hidden;
        display: block;
        font-size: 12px;
        line-height: 1.6;
        color: #C2C8CC;
        transition: all 150ms ease-out !important;
        margin-top: 0;

        &:first-letter {
          text-transform: capitalize;
        }
      }
    }

  }

}

.carousel-comment {

  &-ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 24px;

    @media screen and (max-width: 500px) {
      gap: 15px;
    }
  }

  &-list-item {
    @apply w-[369px] h-full relative bg-gray-800 rounded-3xl p-px before:absolute before:w-96 before:h-96 before:-left-48 before:-top-48 before:rounded-full before:opacity-0 before:pointer-events-none before:transition-opacity before:duration-500 before:translate-x-[var(--mouse-x)] before:translate-y-[var(--mouse-y)] before:hover:opacity-20 before:z-30 before:blur-[100px] after:absolute after:inset-0 after:rounded-[inherit] after:opacity-0 after:transition-opacity after:duration-500 after:[background:_radial-gradient(250px_circle_at_var(--mouse-x)_var(--mouse-y),theme(colors.gray.400),transparent)] after:group-hover:opacity-100 after:z-10 overflow-hidden
  }
}

.ul-holder {
  display: flex;
  flex-direction: column;
  gap: 80px;
  flex-shrink: 0;
  outline: none;
  flex-basis: auto;
  align-items: stretch;

  @media screen and (max-width: 500px) {
    gap: 75px;
  }

  &-item {
    flex-shrink: 0;
    min-height: 0;
    min-width: 0;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    -webkit-box-align: stretch;
    align-items: stretch;
  }
}


.title-text-landing-page {
  background-clip: text;
  background-size: 200% auto;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


  &.home-title {
    background-image: var(--var-border-home-icon);
  }

  &.videos-title {
    background-image: var(--var-border-videos-icon);
  }

  &.news-title {
    background-image: var(--var-border-news-icon);
  }

  &.blaze-title {
    background-image: var(--var-border-blaze-icon);
  }
}

.home-bg {
  background: var(--home-radial);
}

.video-bg {
  background: var(--videos-radial);
}

.news-bg {
  background: var(--news-radial);
}

.blaze-bg {
  background: var(--blaze-radial);
}

.landing-mobile-content-card {
  border-radius: 16px;
  @apply p-6 bg-gray-800 bg-opacity-20 hover:bg-opacity-50 hover:scale-105 transition-all;
}
.landing-mobile-content-card.active {
  box-shadow: 2px 0 28px 2px rgba(137, 16, 16, 0.47), -1px 1px 8px 2px rgba(137, 16, 16, 0.55);
  @apply bg-opacity-50 scale-105;
}
